@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Miscellaneous Azure DevOps dashboard widgets to be embedded as webpage.</p>
</div>
